#bottomContent {
  background-color: #0;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-top: 10px;
  border-radius: 0 0 15px 15px;
}
#bottomContent .bottom_box_title {
  color: #925ae7;
  font-size: medium;
  font-weight: bold;
  padding-left: 8px;
  padding-bottom: 5px;
  border-bottom: thin solid #aaa;
  text-shadow: 0 1px 1px #eee;
}
#bottomContent .bottom_box_items ul {
  padding-left: 8px;
}
#bottomContent .bottom_box_items li {
  list-style: none;
  margin: 0;
  color: #5a68e7;
  line-height: 1.7em;
  text-shadow: 0 0px 0px #444;
}
#bottomContent .bottom_box_items li a {
  text-decoration: none;
  color: #5a68e7;
}
#bottomContent .bottom_box_items li .productSpecialPrice {
  color: #900;
}
#bottomContent .bottom_box_items li a:hover {
  text-decoration: none;
  color: #1827aa;
}
#bottomContent .footer {
  font-size: x-small;
  color: #aaa;
}

/* Possible overrides */
.infoBoxHeading {
  border-radius: 3px 3px 3px 3px;
  padding: 5px;
}
