.bottomContent {
  padding-top: 15px;
  padding-bottom: 10px;
  margin-top: 10px;
  border: thin solid #ddd;
  border-radius: 0 0 15px 15px;
}
#miniCatContent {
  border-radius: 0;
}
.bottom_box {
  height: 100%;
}
.bottomContent .bottom_box_title {
  color: #383838;
  font-size: medium;
  font-weight: bold;
  padding-left: 8px;
  padding-bottom: 5px;
  border-bottom: thin solid #aaa;
  text-shadow: 0 1px 1px #eee;
}
.bottomContent .bottom_box_items ul {
  padding-left: 8px;
}
.bottomContent .bottom_box_items li {
  list-style: none;
  margin: 0;
  color: #004b91;
  line-height: 1.7em;
  text-shadow: 0 0px 0px #444;
}
.bottomContent .bottom_box_items li a {
  text-decoration: none;
  color: #004b91;
}
.bottomContent .bottom_box_items li .productSpecialPrice {
  color: #900;
}
.bottomContent .bottom_box_items li a:hover {
  text-decoration: none;
  color: #cc9900;
}
.bottomContent .footer {
  font-size: x-small;
  color: #aaa;
}

.bottom_accu_box {
  text-align: right;
  margin: 0 auto;
}

.bottom_accu_box img {
  padding-bottom: 10px;
  margin-right: 10px;
}

.accu_text {
  margin: 5px 15px 5px 0;
}

/* Possible overrides */
.infoBoxHeading {
  border-radius: 3px 3px 3px 3px;
  padding: 5px;
}

.footer p {
  font-size: x-small;
  color: #aaa;
}
.footer p a {
  color: #004b91;
}
.footer p a:hover {
  color: #cc9900;
}

.bread_trail {
  color: #000;
  background-color: #eee;
  border-radius: 3px 3px 3px 3px;
  padding: 5px 0 5px 0;
  font-weight: bold;
  line-height: 2em;
}
.bread_trail a {
  color: #383838;
}
.bread_trail a:hover {
  color: #cc9900;
}

#search_container {
  width: 150px;
  float: right;
}
#search_container input[type="image"] {
  width: 17px;
}

.lof-main-item-desc h3 {
  font-size: large;
  font-weight: bold;
}
.space_top .buttonAction {
  margin-top: 30px;
}
